# IMPORTANT NOTE:
#      When updating this file make sure that all URLs are https://*
#      and NOT the git:// ones.
#      The former doesn't require GitHub credentials while the latter does


[submodule "bundle/cosmic_latte"]
	path = bundle/cosmic_latte
	url = https://github.com/nightsense/cosmic_latte.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/MatchTagAlways"]
	path = bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "bundle/taffy.vim"]
	path = bundle/taffy.vim
	url = https://github.com/flrnprz/taffy.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-babeltrace"]
	path = bundle/vim-babeltrace
	url = https://github.com/junousia/vim-babeltrace.git
[submodule "bundle/vim-color-forest-night"]
	path = bundle/vim-color-forest-night
	url = https://github.com/sainnhe/vim-color-forest-night.git
[submodule "bundle/vim-colors-tender"]
	path = bundle/vim-colors-tender
	url = https://github.com/jacoborus/tender.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-interestingwords"]
	path = bundle/vim-interestingwords
	url = https://github.com/vasconcelloslf/vim-interestingwords.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-lightline"]
	path = bundle/vim-lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "bundle/vim-preview-monitor"]
	path = bundle/vim-preview-monitor
	url = https://github.com/hash-bang/vim-preview-monitor.git
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "bundle/vim-super-retab"]
	path = bundle/vim-super-retab
	url = https://github.com/rhlobo/vim-super-retab.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-vidir-colors"]
	path = bundle/vim-vidir-colors
	url = https://github.com/trapd00r/vim-syntax-vidir-ls.git
[submodule "bundle/vim-vue"]
	path = bundle/vim-vue
	url = https://github.com/hash-bang/vim-vue.git
[submodule "bundle/vim-todo"]
	path = bundle/vim-todo
	url = https://github.com/hash-bang/vim-todo.git
[submodule "bundle/wildfire.vim"]
	path = bundle/wildfire.vim
	url = https://github.com/gcmt/wildfire.vim
[submodule "bundle/vim-wakatime"]
	path = bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
